([:purchase-list
  (#:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/blood-orange,
                                  :units nil,
                                  :amount-needed 22.5,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.common/unit}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/mini-chips,
                                  :units nil,
                                  :amount-needed 1.4995000064373016,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/peppermint-candy,
                                  :units nil,
                                  :amount-needed 8.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/salt,
                                  :units nil,
                                  :amount-needed 0.265625,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.common/pinch}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/chives,
                                  :units nil,
                                  :amount-needed 2.8050001114606857,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/oz}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/black-pepper,
                                  :units nil,
                                  :amount-needed 0.125,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/ground-ginger,
                                  :units nil,
                                  :amount-needed 0.5,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/oreo,
                                  :units nil,
                                  :amount-needed 1.498500019311905,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/fluff,
                                  :units nil,
                                  :amount-needed 1.4995000064373016,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/graham-crackers,
                                  :units nil,
                                  :amount-needed 1.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/ube-extract,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/ml,
                                                                  :source
                                                                  "https://a.co/d/cUXhkjp",
                                                                  :unit-volume
                                                                  70.0,
                                                                  :unit-cost
                                                                  9.95,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 12.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/milk-powder,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/oz,
                                                                  :unit-mass
                                                                  25.6,
                                                                  :unit-cost
                                                                  11.99,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 485.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/g}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/white-chocolate,
                                  :units nil,
                                  :amount-needed 16.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/oz}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/heavy-cream,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/qt,
                                                                  :source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/g,
                                                                  :unit-volume
                                                                  1.0,
                                                                  :unit-mass
                                                                  968.0,
                                                                  :unit-cost
                                                                  7.49,
                                                                  :unit-purchase-quantity
                                                                  8}
                                   #:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/pt,
                                                                  :source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/g,
                                                                  :unit-volume
                                                                  1.0,
                                                                  :unit-mass
                                                                  484.0,
                                                                  :unit-cost
                                                                  5.49,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 8025.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/g}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/shredded-chedder,
                                  :units nil,
                                  :amount-needed 1.4152500182390213,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/whole-cinnamon,
                                  :units nil,
                                  :amount-needed 40.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.common/unit}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/glucose-syrup,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:source
                                                                  "amazon",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/lb,
                                                                  :unit-mass
                                                                  13.2,
                                                                  :unit-cost
                                                                  54.99,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 1212.5,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/g}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/milk,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/gal,
                                                                  :source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/kg,
                                                                  :unit-volume
                                                                  0.5,
                                                                  :unit-mass
                                                                  1.95,
                                                                  :unit-cost
                                                                  3.39,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 0.515625,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/ube-halaya,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/c,
                                                                  :source
                                                                  "https://a.co/d/1Gk4PIP",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/oz,
                                                                  :unit-volume
                                                                  2.25,
                                                                  :unit-mass
                                                                  24.0,
                                                                  :unit-cost
                                                                  25.85,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 2.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/ground-cloves,
                                  :units nil,
                                  :amount-needed 0.125,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/carrot,
                                  :units nil,
                                  :amount-needed 0.5,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/lb}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/pumpkin-puree,
                                  :units nil,
                                  :amount-needed 15.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/oz}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/salt,
                                  :units nil,
                                  :amount-needed 0.0625,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/black-pepper,
                                  :units nil,
                                  :amount-needed 0.53125,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.common/pinch}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/ground-nutmeg,
                                  :units nil,
                                  :amount-needed 0.375,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/unsalted-butter,
                                  :units nil,
                                  :amount-needed 1.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tbsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/russet-potato,
                                  :units nil,
                                  :amount-needed 1.328125,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/lb}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/milk,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/gal,
                                                                  :source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/kg,
                                                                  :unit-volume
                                                                  1.0,
                                                                  :unit-mass
                                                                  3.9,
                                                                  :unit-cost
                                                                  4.99,
                                                                  :unit-purchase-quantity
                                                                  2}
                                   #:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/gal,
                                                                  :source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/kg,
                                                                  :unit-volume
                                                                  0.5,
                                                                  :unit-mass
                                                                  1.95,
                                                                  :unit-cost
                                                                  3.39,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 9615.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/g}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/garlic-clove,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:source
                                                                  "star market",
                                                                  :unit-common-type
                                                                  :pigeon-scoops.units.common/unit,
                                                                  :unit-common
                                                                  10.0,
                                                                  :unit-cost
                                                                  0.99,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 1.59375,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.common/unit}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/bacon-bits,
                                  :units nil,
                                  :amount-needed 8.5,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tbsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/salted-butter,
                                  :units nil,
                                  :amount-needed 0.08845312613993883,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/brown-sugar,
                                  :units nil,
                                  :amount-needed 1.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tbsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/matcha-powder,
                                  :units nil,
                                  :amount-needed 27.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/sugar,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/c,
                                                                  :source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/lb,
                                                                  :unit-volume
                                                                  20.0,
                                                                  :unit-mass
                                                                  10.0,
                                                                  :unit-cost
                                                                  9.49,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 3637.5,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/g}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/sour-cream,
                                  :units nil,
                                  :amount-needed 1190.0,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.mass/g}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/ground-cinnamon,
                                  :units nil,
                                  :amount-needed 1.75,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/biscoff-cookies,
                                  :units nil,
                                  :amount-needed 1.3320000171661377,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/xanthan-gum,
                                  :units nil,
                                  :amount-needed 6.0625,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/tsp}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/sugar,
                                  :units
                                  (#:pigeon-scoops.spec.groceries{:unit-volume-type
                                                                  :pigeon-scoops.units.volume/c,
                                                                  :source
                                                                  "star market",
                                                                  :unit-mass-type
                                                                  :pigeon-scoops.units.mass/lb,
                                                                  :unit-volume
                                                                  4.0,
                                                                  :unit-mass
                                                                  2.0,
                                                                  :unit-cost
                                                                  2.99,
                                                                  :unit-purchase-quantity
                                                                  1}),
                                  :amount-needed 1.125,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c}
   #:pigeon-scoops.spec.groceries{:type
                                  :pigeon-scoops.spec.groceries/walnuts-chopped,
                                  :units nil,
                                  :amount-needed 0.49950000643730164,
                                  :amount-needed-unit
                                  :pigeon-scoops.units.volume/c})]
 [:total-cost 198.41999912261963])
