({:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/black-sesame-paste,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "h-mart",
    :pigeon-scoops.spec.groceries/unit-cost 12.49,
    :pigeon-scoops.spec.groceries/unit-mass 16,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/xanthan-gum,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 14.99,
    :pigeon-scoops.spec.groceries/unit-mass 8,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/glucose-syrup,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "michaels",
    :pigeon-scoops.spec.groceries/unit-cost 5.99,
    :pigeon-scoops.spec.groceries/unit-mass 8,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}
   {:pigeon-scoops.spec.groceries/source "amazon",
    :pigeon-scoops.spec.groceries/unit-cost 12.98,
    :pigeon-scoops.spec.groceries/unit-mass 2.2,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb}
   {:pigeon-scoops.spec.groceries/source "amazon",
    :pigeon-scoops.spec.groceries/unit-cost 54.99,
    :pigeon-scoops.spec.groceries/unit-mass 13.200000000000001,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/milk-powder,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 5.99,
    :pigeon-scoops.spec.groceries/unit-mass 9.6,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 11.99,
    :pigeon-scoops.spec.groceries/unit-mass 25.6,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/fresh-basil,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 3.59,
    :pigeon-scoops.spec.groceries/unit-volume 1,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-mass 1.25,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/fresh-mint,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 2.99,
    :pigeon-scoops.spec.groceries/unit-volume 0.5,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-mass 0.66,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/pine-nuts,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 5.99,
    :pigeon-scoops.spec.groceries/unit-mass 2.25,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz,
    :pigeon-scoops.spec.groceries/unit-volume 0.5,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/garlic-clove,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 0.99,
    :pigeon-scoops.spec.groceries/unit-common 10,
    :pigeon-scoops.spec.groceries/unit-common-type
    :pigeon-scoops.units.common/unit}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/olive-oil,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 8.99,
    :pigeon-scoops.spec.groceries/unit-volume 16.9,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/floz,
    :pigeon-scoops.spec.groceries/unit-mass 16.69,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/grated-parmesan,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 6.99,
    :pigeon-scoops.spec.groceries/unit-volume 2.75,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-mass 8,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/light-brown-sugar,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 2.69,
    :pigeon-scoops.spec.groceries/unit-volume 7.125,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-mass 1,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-cost 3.99,
    :pigeon-scoops.spec.groceries/unit-volume 14.25,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-mass 2,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/ube-halaya,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "https://a.co/d/1Gk4PIP",
    :pigeon-scoops.spec.groceries/unit-cost 25.85,
    :pigeon-scoops.spec.groceries/unit-volume 2.25,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-mass 24,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/ube-extract,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "https://a.co/d/9y1FvdF",
    :pigeon-scoops.spec.groceries/unit-cost 59.95,
    :pigeon-scoops.spec.groceries/unit-volume 980,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/ml}
   {:pigeon-scoops.spec.groceries/source "https://a.co/d/cUXhkjp",
    :pigeon-scoops.spec.groceries/unit-cost 9.95,
    :pigeon-scoops.spec.groceries/unit-volume 70,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/ml}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/smooth-peanut-butter,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 64,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz,
    :pigeon-scoops.spec.groceries/unit-volume 114,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/tbsp,
    :pigeon-scoops.spec.groceries/unit-cost 9.99}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 28,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz,
    :pigeon-scoops.spec.groceries/unit-volume 50,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/tbsp,
    :pigeon-scoops.spec.groceries/unit-cost 4.99}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 16,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz,
    :pigeon-scoops.spec.groceries/unit-volume 28,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/tbsp,
    :pigeon-scoops.spec.groceries/unit-cost 2.5}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/semisweet-chocolate,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 4,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz,
    :pigeon-scoops.spec.groceries/unit-cost 2.49}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/egg-yolk,
  :pigeon-scoops.spec.groceries/description
  "need to figure out what to do with whites",
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-common 18,
    :pigeon-scoops.spec.groceries/unit-common-type
    :pigeon-scoops.units.common/unit,
    :pigeon-scoops.spec.groceries/unit-cost 7.39}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-common 12,
    :pigeon-scoops.spec.groceries/unit-common-type
    :pigeon-scoops.units.common/unit,
    :pigeon-scoops.spec.groceries/unit-cost 4.99}]}
 {:pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/vanilla-bean,
  :pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-common 1,
    :pigeon-scoops.spec.groceries/unit-common-type
    :pigeon-scoops.units.common/unit,
    :pigeon-scoops.spec.groceries/unit-cost 9.99}]}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 44.36029,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/g,
    :pigeon-scoops.spec.groceries/unit-volume 3,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/tbsp,
    :pigeon-scoops.spec.groceries/unit-cost 0.88}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/lemon-juice,
  :pigeon-scoops.spec.groceries/description "Fresh squeezed lemon"}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 0.5,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/gal,
    :pigeon-scoops.spec.groceries/unit-mass 1.94,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/kg,
    :pigeon-scoops.spec.groceries/unit-cost 6.99}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 1,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/qt,
    :pigeon-scoops.spec.groceries/unit-mass 968,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/g,
    :pigeon-scoops.spec.groceries/unit-cost 4.29}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 1,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/pt,
    :pigeon-scoops.spec.groceries/unit-mass 484,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/g,
    :pigeon-scoops.spec.groceries/unit-cost 2.79}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/half-and-half}
 {:pigeon-scoops.spec.groceries/units [],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/salt}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 8,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/oz,
    :pigeon-scoops.spec.groceries/unit-volume 2.8125,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-cost 4.99}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/dutch-process-cocoa}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 1,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/qt,
    :pigeon-scoops.spec.groceries/unit-mass 968,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/g,
    :pigeon-scoops.spec.groceries/unit-cost 7.49}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 1,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/pt,
    :pigeon-scoops.spec.groceries/unit-mass 484,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/g,
    :pigeon-scoops.spec.groceries/unit-cost 5.49}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/heavy-cream}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 1,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/gal,
    :pigeon-scoops.spec.groceries/unit-mass 3.9,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/kg,
    :pigeon-scoops.spec.groceries/unit-cost 4.99}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 0.5,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/gal,
    :pigeon-scoops.spec.groceries/unit-mass 1.95,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/kg,
    :pigeon-scoops.spec.groceries/unit-cost 3.39}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/milk}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 2,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb,
    :pigeon-scoops.spec.groceries/unit-volume 7.5,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-cost 6.99}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 1,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb,
    :pigeon-scoops.spec.groceries/unit-volume 3.75,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-cost 3.99}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/strawberry,
  :pigeon-scoops.spec.groceries/description "fresh"}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-volume 2,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/floz,
    :pigeon-scoops.spec.groceries/unit-mass 52,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/g,
    :pigeon-scoops.spec.groceries/unit-cost 7.99}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/vanilla-extract}
 {:pigeon-scoops.spec.groceries/units
  [{:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 10,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb,
    :pigeon-scoops.spec.groceries/unit-volume 20,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-cost 9.49}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 4,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb,
    :pigeon-scoops.spec.groceries/unit-volume 8,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-cost 3.79}
   {:pigeon-scoops.spec.groceries/source "star market",
    :pigeon-scoops.spec.groceries/unit-mass 2,
    :pigeon-scoops.spec.groceries/unit-mass-type
    :pigeon-scoops.units.mass/lb,
    :pigeon-scoops.spec.groceries/unit-volume 4,
    :pigeon-scoops.spec.groceries/unit-volume-type
    :pigeon-scoops.units.volume/c,
    :pigeon-scoops.spec.groceries/unit-cost 2.99}],
  :pigeon-scoops.spec.groceries/type
  :pigeon-scoops.spec.groceries/sugar})
