({:pigeon-scoops.spec.recipes/name "Philadelphia Base",
  :pigeon-scoops.spec.recipes/source
  "Hello, My Name is Ice Cream p. 76",
  :pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream,
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/instructions
  ["Check book for specific instructions on stabilizer"
   "Prepare ice bath"
   "Combine milk powder and sugar"
   "Combine milk, cream, and glucose in saucepand and bring to rolling boil, stirring occasionally to prevent scorching"
   "Whisk in the milk powder mixture. Reduce heat to low simmer and whisk for 2 minutes"
   "Pour into shallow metal or glass bowl and cool in ice bath, stirring occasionally"
   "Strain into container and let cool in refrigerator for >4 hours or overnight"
   "Churn and freeze"],
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 380,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 400,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/glucose-syrup,
    :pigeon-scoops.spec.recipes/amount 50,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 150,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk-powder,
    :pigeon-scoops.spec.recipes/amount 20,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}],
  :pigeon-scoops.spec.recipes/id
  #uuid "3dee96cc-da5f-440e-9a67-5d981c13bfdd"}
 {:pigeon-scoops.spec.recipes/name "Custard Base",
  :pigeon-scoops.spec.recipes/source
  "Hello, My Name is Ice Cream p. 50",
  :pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream,
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/instructions
  ["Check book for specific instructions on stabilizer"
   "Prepare ice bath"
   "Bring cream, milk, glucose, and sugar to rolling boil and remove from heat"
   "Whisk yolks with 10% of warm mix, stirring constantly. Pour back into pot while whisking."
   "Place pot over medium heat, stirring and scrapping constantly over medium heat"
   "When thickened or at 180F, pour custard into shallow metal or glass bowl. Nest in ice bath and stir until cool"
   "When cool to touch, strain through mesh sieve. Cool in refrigerator for at least 4 hours"
   "Churn and freeze"],
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 300,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 400,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/glucose-syrup,
    :pigeon-scoops.spec.recipes/amount 50,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 150,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 100,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}],
  :pigeon-scoops.spec.recipes/id
  #uuid "69726d41-d812-4dcc-8952-eb0e225c0c1e"}
 {:pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream,
  :pigeon-scoops.spec.recipes/name "Pesto",
  :pigeon-scoops.spec.recipes/instructions
  ["Combine basil, pine nuts, and garlic in food processor and process until finely minced"
   "While running, slowly drizzle oil and process until smooth"
   "Add cheese and process just long enough to combine"
   "Warm milk, sugar, pinch of salt, half the cream"
   "Pour other half of cream into a container with mesh strainer"
   "Whisk egg yolks in separate bowl. Slowly pour warm milk mix into bowl, whisking constantly"
   "Pour mix into saucepan an stir constantly over medium heat until mix reaches 175F"
   "Pour mix through strainer"
   "Whisk in pesto"
   "Chill"
   "Churn"],
  :pigeon-scoops.spec.recipes/source
  "modified The Perfect Scoop p. 90",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 1.333,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 0.5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/pinch}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 6,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/fresh-basil,
    :pigeon-scoops.spec.recipes/amount 0.5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/pine-nuts,
    :pigeon-scoops.spec.recipes/amount 1.5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tsp}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/garlic-clove,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/olive-oil,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tbsp}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/grated-parmesan,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tbsp}],
  :pigeon-scoops.spec.recipes/id
  #uuid "6f8c07c1-afeb-4162-8aef-9ff32088591c"}
 {:pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream,
  :pigeon-scoops.spec.recipes/name "Black Sesame",
  :pigeon-scoops.spec.recipes/instructions
  ["Combine brown sugar, egg yolks, and salt"
   "Whisk in cream and milk"
   "Warm over medium-low heat until warm to the touch"
   "Increase head to medium, stirring constantly until mixture is 155F"
   "Turn off heat, whisk in black sesame paste"
   "Chill"
   "Churn"],
  :pigeon-scoops.spec.recipes/source
  "https://www.seriouseats.com/black-sesame-ice-cream-recipe",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 8,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/oz}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 7,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/oz}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/light-brown-sugar,
    :pigeon-scoops.spec.recipes/amount 6,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/oz}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 7,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/black-sesame-paste,
    :pigeon-scoops.spec.recipes/amount 6,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/oz}],
  :pigeon-scoops.spec.recipes/id
  #uuid "2f851376-c188-404a-8aeb-20e30f07566b"}
 {:pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream,
  :pigeon-scoops.spec.recipes/name "Ube",
  :pigeon-scoops.spec.recipes/instructions
  ["Warm milk, sugar, pinch of salt, half the cream"
   "Pour other half of cream into a container with mesh strainer"
   "Whisk egg yolks in separate bowl. Slowly pour warm milk mix into bowl, whisking constantly"
   "Pour mix into saucepan an stir constantly over medium heat until mix reaches 175F"
   "Pour mix through strainer"
   "Add ube jam and extract. Mix with immersion blender."
   "Chill"
   "Churn"],
  :pigeon-scoops.spec.recipes/source
  "modified The Perfect Scoop p. 28",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/pinch}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 6,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/ube-halaya,
    :pigeon-scoops.spec.recipes/amount 0.5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/ube-extract,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tsp}],
  :pigeon-scoops.spec.recipes/id
  #uuid "c2803314-631e-49ff-9982-1378b34205ff"}
 {:pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream,
  :pigeon-scoops.spec.recipes/name "Mint",
  :pigeon-scoops.spec.recipes/instructions
  ["Warm milk, sugar, pinch of salt, half the cream"
   "Add mint and stir until leaves are fully submerged. Remove from heat and steep for 1 hour"
   "Strain mix into saucepan and squeeze as much liquid from the mint leaves. Discard mint and rewarm the mix"
   "Pour other half of cream into a container with mesh strainer"
   "Whisk egg yolks in separate bowl. Slowly pour warm milk mix into bowl, whisking constantly"
   "Pour mix into saucepan an stir constantly over medium heat until mix reaches 175F"
   "Pour mix through strainer"
   "Chill"
   "Churn"],
  :pigeon-scoops.spec.recipes/source "The Perfect Scoop p. 106",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/pinch}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/fresh-mint,
    :pigeon-scoops.spec.recipes/amount 40,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/g}],
  :pigeon-scoops.spec.recipes/id
  #uuid "6224c92e-15d1-4877-b68e-90bd1f2902a7"}
 {:pigeon-scoops.spec.recipes/name "Strawberry",
  :pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream,
  :pigeon-scoops.spec.recipes/instructions
  ["Bring cream, milk, and salt to simmer over medium heat"
   "Whisk yolks with 2/3rds of the sugar"
   "Pour half of the warm mix into the eggs, whisking constantly"
   "Pour mix back into saucepan, cook over medium heat until 170F"
   "Pour mix through strainer and chill"
   "Mash strawberries with rest of sugar and lemon juice and chill"
   "Mix and churn"],
  :pigeon-scoops.spec.recipes/source
  "https://wearenotmartha.com/strawberry-mint-milkshakes/",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/pinch}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/strawberry,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/lb}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/lemon-juice,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tbsp}],
  :pigeon-scoops.spec.recipes/id
  #uuid "cc8a4ad9-468d-4154-a845-0d9c8c08bb37"}
 {:pigeon-scoops.spec.recipes/name "Peanut Butter",
  :pigeon-scoops.spec.recipes/instructions
  ["Puree peanut butter, salt, vanilla, half-and-half, and sugar in blender"
   "Chill"
   "Churn"],
  :pigeon-scoops.spec.recipes/source "The Perfect Scoop p. 59",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 14,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tbsp}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/pinch}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/half-and-half,
    :pigeon-scoops.spec.recipes/amount 8/3,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/smooth-peanut-butter,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/vanilla-extract,
    :pigeon-scoops.spec.recipes/amount 0.125,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tsp}],
  :pigeon-scoops.spec.recipes/id
  #uuid "0fdf6d7a-ad4e-43f7-af56-48e68fd2bc6c",
  :pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream}
 {:pigeon-scoops.spec.recipes/name "Vanilla",
  :pigeon-scoops.spec.recipes/instructions
  ["Warm milk, sugar, pinch of salt, half the cream"
   "Scrape the seeds from vanilla beans into warm milk and add the bean. Cover, remove from heat, steep for 30 minutes"
   "Pour other half of cream into a container with mesh strainer"
   "Whisk egg yolks in separate bowl. Slowly pour warm milk mix into bowl, whisking constantly"
   "Pour mix into saucepan an stir constantly over medium heat until mix reaches 175F"
   "Pour mix through strainer"
   "Chill"
   "Churn"],
  :pigeon-scoops.spec.recipes/source "The Perfect Scoop p. 28",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/pinch}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/vanilla-bean,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 6,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/vanilla-extract,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tsp}],
  :pigeon-scoops.spec.recipes/id
  #uuid "d6a1c831-8779-41d6-a9c0-415ff23fa604",
  :pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream}
 {:pigeon-scoops.spec.recipes/name "Chocolate",
  :pigeon-scoops.spec.recipes/instructions
  ["Warm half the cream with cocoa powder in medium saucepan, whisking constantly. Whisking constantly, bring to boil, lower heat, and let simmer for 30 seconds"
   "Remove from heat, add chocolate, stir till smooth, and add remaining cream. Pour into bowl with mesh strainer"
   "Warm milk, sugar, pinch of salt"
   "Whisk egg yolks in separate bowl. Slowly pour warm milk mix into bowl, whisking constantly"
   "Pour mix into saucepan an stir constantly over medium heat until mix reaches 175F"
   "Pour mix through strainer"
   "Chill"
   "Churn"],
  :pigeon-scoops.spec.recipes/source "The Perfect Scoop p. 30",
  :pigeon-scoops.spec.recipes/amount 1,
  :pigeon-scoops.spec.recipes/amount-unit
  :pigeon-scoops.units.volume/qt,
  :pigeon-scoops.spec.recipes/ingredients
  [{:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/milk,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/heavy-cream,
    :pigeon-scoops.spec.recipes/amount 2,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/sugar,
    :pigeon-scoops.spec.recipes/amount 0.75,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/c}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/salt,
    :pigeon-scoops.spec.recipes/amount 1,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/pinch}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/egg-yolk,
    :pigeon-scoops.spec.recipes/amount 5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.common/unit}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/vanilla-extract,
    :pigeon-scoops.spec.recipes/amount 0.5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tsp}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/dutch-process-cocoa,
    :pigeon-scoops.spec.recipes/amount 3,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.volume/tbsp}
   {:pigeon-scoops.spec.recipes/ingredient-type
    :pigeon-scoops.spec.groceries/semisweet-chocolate,
    :pigeon-scoops.spec.recipes/amount 5,
    :pigeon-scoops.spec.recipes/amount-unit
    :pigeon-scoops.units.mass/oz}],
  :pigeon-scoops.spec.recipes/id
  #uuid "4776fb5f-9137-41e2-a8db-fbbd0a50762d",
  :pigeon-scoops.spec.recipes/type
  :pigeon-scoops.spec.recipes/ice-cream})
