:root {
    --color-accent: #266cf5;
    --color-text: #173878;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

input {
    font-family: 'Inter', sans-serif;
}

a {
    color: var(--color-accent);
    font-weight: 500;
}
