:root {
    --color-accent: #266cf5;
    --color-text: #173878;
    font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: content-box;
    width: 100%;
}

html * {
    box-sizing: inherit;
}

a {
    color: var(--color-accent);
    font-weight: 500;
}
