[
 ; Grocery tables
 {:create-table [:groceries :if-not-exists]
  :with-columns
  [[:type :text [:not nil] :primary-key]
   [:description :text]]}
 {:create-table [:grocery-units :if-not-exists]
  :with-columns
  [[:type :text [:references :groceries :type] [:not nil]]
   [:source :text [:not nil]]
   [:unit-cost :real [:not nil]]
   [:unit-mass :real]
   [:unit-mass-type :text]
   [:unit-volume :real]
   [:unit-volume-type :text]
   [:unit-common :real]
   [:unit-common-type :text]]}
 ; Recipe tables
 {:create-table [:recipes :if-not-exists]
  :with-columns
  [[:id :uuid [:not nil] :primary-key]
   [:type :text [:not nil]]
   [:name :text [:not nil]]
   [:instructions :text :array]
   [:amount :real [:not nil]]
   [:amount-unit :text [:not nil]]
   [:amount-unit-type :text [:not nil]]
   [:source :text]]}
 {:create-table [:ingredients :if-not-exists]
  :with-columns
  [[:recipe-id :uuid [:references :recipes :id] [:not nil]]
   [:ingredient-type :text [:references :groceries :type] [:not nil]]
   [:amount :real [:not nil]]
   [:amount-unit :text [:not nil]]
   [:amount-unit-type :text [:not nil]]
   [:primary :key [:composite :recipe-id :ingredient-type]]]}
 ; Flavor tables
 {:create-table [:flavors :if-not-exists]
  :with-columns
  [[:id :uuid [:not nil] :primary-key]
   [:name :text [:not nil]]
   [:instructions :text :array]
   [:recipe-id :uuid [:references :recipes :id] [:not nil]]
   [:amount :real [:not nil]]
   [:amount-unit :text [:not nil]]
   [:amount-unit-type :text [:not nil]]]}
 {:create-table [:mixins :if-not-exists]
  :with-columns
  [[:flavor-id :uuid [:references :flavors :id] [:not nil]]
   [:recipe-id :uuid [:references :recipes :id] [:not nil]]
   [:amount :real [:not nil]]
   [:amount-unit :text [:not nil]]
   [:amount-unit-type :text [:not nil]]
   [:primary :key [:composite :flavor-id :recipe-id]]]}
 ; Order tables
 {:create-table [:orders :if-not-exists]
  :with-columns
  [[:id :uuid [:not nil] :primary-key]
   [:note :text [:not nil]]]}
 {:create-table [:flavor-amounts :if-not-exists]
  :with-columns
  [[:order-id :uuid [:references :orders :id] [:not nil]]
   [:flavor-id :uuid [:references :flavors :id] [:not nil]]
   [:amount :real [:not nil]]
   [:amount-unit :text [:not nil]]
   [:amount-unit-type :text [:not nil]]
   [:primary :key [:composite :order-id :flavor-id]]]}
 ]